.content-area
  .row
    .col-md-12
      .col-md-6
        %h3 About JT
        %br
          I grew up in Massachusetts with my 6 siblings and 3 cats.  I've always had a lot of hobbies and some of my favorite things to do include:
        %br
        %ul
          %li Programming
          %li Guitar
          %li Piano
          %li Snowboarding
          %li Chess
          %li Drawing
          %li Playing sports
          %li Videogames
          %li Board games
          %li Cigars
      .col-md-6
        = image_tag 'about/jt_and_family.jpg', class: 'smaller-image'
        = image_tag 'about/jt_and_jerry.jpg', class: 'smaller-image'
