.content-area
  .row
    .col-md-12
      %h3 About JT
      %br
        I grew up in Massachusetts with my 6 siblings and 3 cats.  I had some combination of competitiveness and curiosity that led me to try many different sports and activities - some of these include:
      %ul
        %li Programming
        %li Guitar
        %li Piano
        %li Snowboarding
        %li Chess
        %li Drawing
        %li Playing sports
        %li Games (board or video)
        %li Occasional cigars
