.app-body
  .container-fluid.content-area
    .row
      .col-md-12
        %h1 JavaScript Snippets
        :coderay
          #!javascript

          function doSomething() {
            return 'Sorry, too lazy.';
          }
    %br
    .row
      .col-md-12
        %h1 Ruby Snippets
        :coderay
          #!ruby

          if true
            puts "hello"
          end
