.main-tagline.text-center
  %h1 JT Bowler
  %br
  %h3
    I enjoy making music and playing with the web.
%section#portfiolio
  .section-content
    %h5.text-center Portfolio
%section#blog
  .section-content
    %h5.text-center Blog
    blah this is blog section
%section#music
  .section-content
    %h5.text-center My Music
    blah this is music section
