.main-tagline.text-center
  %h1 JT Bowler
  %br
  %h3
    I enjoy making music and playing with the web.
.cards
  #portfolio.card
    %h4.text-center Portfolio
    %ul
      %li Project A
      %li Project B
      %li Project C
  #blog.card
    %h4.text-center Blog
    .blog-article Article One
    .blog-article Article Two
    .blog-article Article Three
  #music.card
    %h4.text-center My Music
    %ul
      %li= link_to 'SoundCloud', 'http://www.soundcloud.com/bowlah'
      %li= link_to 'Pure Volume', 'http://www.purevolume.com/jtbowler'
      %li= link_to 'The Release', 'http://www.thereleasesf.com'
