.row
  .col-md-12
    %h4 Custom Framework from scratch
    %p Long story short, I find the best way to learn is by doing.  My primary experience is with Backbone, so I suspect this will turn out heavily influenced by it.  There are plenty of things that annoy me with Backbone, so hopefully I can solve a few issues in the process.
