@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'header';

$header-height: 100px;
$footer-height: 60px;

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: $header-height/2 0 0 0;
}

.app-wrapper {
  min-height: 100%;
  overflow: auto;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
  background: image-url('layout/music-bars-bg.jpg');
}

.app-body {
  min-height: 400px;
}

.header {
  color: white;
  width: 100%;
  height: $header-height;
  padding: 10px;
  position: fixed;
  top: 0;
  background: black;

  a {
    color: white;
  }
}

section {
  margin: 0 0 20px;

  &.section-main {
    height: 300px;
  }

  .section-content {
    background: rgba(0, 0, 0, 0.8);
    width: 900px;
    margin: auto;
    padding: 10px;
    color: white;
  }
}

.main-tagline {
  width: 400px;
  margin: 0 auto 20px;
  padding: 15px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

#portfolio {
  border: 1px solid #f22;
}

#blog {
  border: 1px solid #f62;
}

#music {
  border: 1px solid #7c4;
}

.cards {
  width: 850px;
  margin: auto;
}

.card {
  display: inline-block;
  width: 260px;
  margin: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  vertical-align: top;
  height: 350px;
  border-radius: 6px;

  ul {
    padding-left: 20px;
  }
}
