@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'header';

$header-height: 100px;
$footer-height: 60px;

$card-border-width: 2px;
$light-blue: #aaccef;

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: $header-height/2 0 0 0;
  background: black;
  color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  color: $light-blue;
}

.disclaimer {
  color: yellow;
}

.navbar {
  height: 80px;
  background: #333;
  padding: 10px;
}

.app-wrapper {
  min-height: 100%;
  overflow: auto;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
  background: image-url('layout/music-bars-bg.jpg');
}

.app-body {
  min-height: 400px;
}

.header {
  color: white;
  width: 100%;
  height: $header-height;
  padding: 10px;
  position: fixed;
  top: 0;
  background: black;

  a {
    color: white;
  }
}

.content-area {
  width: 900px;
  margin: auto;
  padding: 20px;
  background: black;
}

section {
  margin: 0 0 20px;

  &.section-main {
    height: 300px;
  }

  .section-content {
    background: rgba(0, 0, 0, 0.8);
    width: 900px;
    margin: auto;
    padding: 10px;
    color: white;
  }
}

.main-tagline {
  width: 400px;
  margin: 0 auto 20px;
  padding: 15px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

#portfolio {
  border: $card-border-width solid #f22;

  &:hover {
    background-color: #440606;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
}

#blog {
  border: $card-border-width solid #f62;

  &:hover {
    background-color: #442006;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
}

#music {
  border: $card-border-width solid #7c4;

  &:hover {
    background-color: #193810;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
}

.cards {
  width: 850px;
  margin: auto;
}

.card {
  display: inline-block;
  width: 260px;
  margin: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  vertical-align: top;
  height: 350px;
  border-radius: 6px;

  -webkit-transform: rotate3d(0, 1, 1, -5deg); /* Chrome, Safari, Opera */
  transform: rotate3d(0, 1, 1, -5deg);

  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;

  &:hover {
    -webkit-transform: rotate3d(0, 1, 1, 0deg);
    -moz-transform: rotate3d(0, 1, 1, 0deg);
    -o-transform: rotate3d(0, 1, 1, 0deg);
  }

  ul {
    padding-left: 20px;
  }
}

.CodeRay {
  width: 100%;

  .line-numbers {
    width: 30px;
  }
}
