@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'header';

$header-height: 100px;
$footer-height: 60px;

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: $header-height/2 0 0 0;
}

.app-wrapper {
  min-height: 100%;
  overflow: auto;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
  background: image-url('layout/music-bars-bg.jpg');
}

.app-body {
  min-height: 400px;
}

.header {
  width: 100%;
  height: $header-height;
  padding: 10px;
  position: fixed;
  top: 0;
  background: black;
  color: white;
}

section {
  margin: 0;

  &.section-main {
    height: 300px;
  }

  .section-content {
    width: 1000px;
    margin: auto;
    padding: 10px;
  }
}

.main-tagline {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
