.header
  .pull-left  JT BOWLER
  .pull-right
    %ul.list-inline
      %li= link_to 'Portfolio', '#portfolio', class: 'anchor-link'
      %li= link_to 'Blog', '#blog', class: 'anchor-link'
      %li= link_to 'Music', '#music', class: 'anchor-link'
